@font-face {
  font-family: "vazir";
  src: url("../Font/Vazir.eot") format("eot"),
    url("../Font/Vazir.ttf") format("truetype"),
    url("../Font/Vazir.woff") format("woff2"),
    url("../Font/Vazir.woff2") format("woff");
}

a {
  text-decoration: none;
}

body {
  font-family: Vazir;
  direction: rtl;
  margin: 0;
  padding: 0;
}

*{
    font-family: Vazir;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.s1 {
  background: url(../images/1.jpg);
  background-size: cover;
}

.s1 ul{
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1.5%;
}

.s1 ul li{
  list-style: none;
  margin: 0 23px;
}

.s1 ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}

.s1 .fp-controlArrow.fp-prev{
  position: absolute;
  top: 92%;
  left: 45px;
  border-width: 16px 20px 16px 0;
}

.s1 .fp-controlArrow.fp-next {
  position: absolute;
  top: 92%;
  right: 93%;
  border-width: 16px 0 16px 20px;
}

.s1 h1{
  text-align: left;
  width: 90%;
  color: #fff;
  font-size: 40px;
  margin-top: -180px;
}

.s1 h1 a{
  color: #ff5722;
  text-decoration: none;
  margin-right: 4px;
}

.s2 {
  background: url(../images/2.jpg);
  background-size: cover;
}

.s2 .secttionTwo{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.s2 .secttionTwo h1{
  width: 100%;
  text-align: center;
  font-size: 55px;
  margin-bottom: 40px;
}

.s2 .secttionTwo h1 span{
  color: #c00;
}

.s2 .secttionTwo ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.s2 .secttionTwo ul li{
  width: 49%;
  background-color: rgba(255, 255, 255, .75);
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.s2 .secttionTwo ul li a{
  color: #000;
}

.s2 .secttionTwo ul li svg{
  font-size: 120px;
}

.s2 .secttionTwo ul li a h5{
  padding: 20px 0;
}

.s3 {
  background: url(../images/3.jpg);
  background-size: cover;
}

.s4 {
  background: url(../images/4.jpg);
  background-size: cover;
}

.s5 {
  background: #000;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
  background: #fff !important;
}

#fp-nav ul li a.active span{
  background: #c00 !important;
}
